.tweet {
    position: relative;

    height: fit-content;
    min-height: 100px;

    border-bottom: 1px solid var(--light-grey);

    cursor: pointer;
    transition-duration: 0.2s;
}

.tweet:hover {
    background-color: rgba(236, 236, 236, 0.3);
}

.userInfo {
    display: inline-flex;

    margin-top: 10px;
    margin-left: 60px;

    font-size: 15px;
}

.userInfo > h2 {
    font-size: inherit;
}

.userInfo > h3 {
    color: var(--dark-grey);

    margin-left: 5px;
    margin-right: 5px;

    font-size: inherit;
    font-weight: 100;
}

.userInfo > h3::before {
    content: '@';
}

.userInfo > time {
    color: var(--dark-grey);

    font-size: inherit;
}

.userInfo > time::before {
    content: '• ';

    opacity: 0.5;
}

.content {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 60px;
    margin-right: 20px;

    overflow-wrap: break-word;
}

.postImg {
    display: flex;
    justify-content: center;

    background-color: var(--light-grey);

    height: 200px;
    max-height: 200px;
    width: 100%;
    
    border-radius: 20px;
}

.postImg > img {
    max-height: 100%;
    max-width: 100%;
}

.tweetBottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 60px;
    margin-right: 20px;
}

.actions {
    display: inline-flex;

    opacity: 0.5;
}

.icon {
    display: inline-flex;
    justify-content: center;

    height: 20px;
    width: 20px;
}

.icon > img {
    max-height: 100%;
    max-width: 100%;
}

.amount {
    display: inline-flex;

    position: relative;
    bottom: 2px;

    margin-left: 10px;
    
    font-size: 15px; 
}