.composeTweetContainer {
    position: relative;

    height: fit-content;
    width: 100%;
    
    border-bottom: 1px solid var(--light-grey);
}

.profileImg {
    display: inline-block;

    position: absolute;
    top: 10px;
    left: 10px;
    
    aspect-ratio: 1;
    height: 40px;

    border-radius: 9999px;

    overflow: hidden;
}

.profileImg > img {
    height: 100%;
}

.composeTweet {
    padding-left: 70px;
}

.composeTweet > textarea {
    background: none;

    height: inherit;    
    width: 500px;

    margin-top: 10px;
    margin-bottom: 50px;
    
    border: none;
    border-bottom: 1px solid var(--light-grey);

    font-size: 20px;

    resize: none;
    overflow: hidden;
}

.composeTweet > button {
    position: absolute;
    bottom: 10px;
    right: 20px;

    background-color: var(--twitterBlue);
    color: white;

    height: 36px;
    width: 76px;

    border: none;
    border-radius: 9999px;

    font-size: 15px;
    font-weight: 800;
}