.container {
    position: relative;

    padding-bottom: 12px;
    
    border-bottom: 1px solid var(--light-grey);
}

.coverImg {
    display: inline-flex;
    justify-content: center;

    background-color: var(--light-grey);

    height: 200px;
    width: 100%;

    cursor: pointer;
    overflow: hidden;
}

.coverImg > img {
    max-width: 100%;
}

.profileImg {
    display: inline-flex;
    justify-content: center;

    position: absolute;
    top: 130px;
    left: 10px;

    background-color: var(--light-grey);

    aspect-ratio: 1;
    height: 133.5px;

    border: 3px solid white;
    border-radius: 9999px;

    cursor: pointer;
    overflow: hidden;
}

.profileImg > img {
    max-height: 100%;
    max-width: 100%;
}

.contentContainer {
    margin-left: 16px;
    margin-right: 16px;
}

.buttons {
    position: relative;
    bottom: 50px;
    float: right;

    height: 40px;
    
    margin-right: 10px;
}

.buttons > button {
    background-color: white;

    border: 2px solid var(--light-grey);
    
    margin-left: 20px;
}

.ellipses {
    display: inline-flex;

    aspect-ratio: 1;
    height: 100%;

    border-radius: 9999px;

    font-size: 20px;
    font-weight: bold;
}

.ellipses > div {
    position: relative;
    bottom: 5px;
}

.buttonImg {
    justify-content: center;

    position: relative;
    top: 2px;

    aspect-ratio: 1;
    height: 100%;

    border-radius: 9999px;

    cursor: pointer;
    overflow: hidden;
}

.buttonImg >img {
    max-height: 100%;
    max-width: 100%;
}

.follow {
    position: relative;
    bottom: 2px;

    height: 100%;

    border-radius: 20px;

    padding-left: 20px;
    padding-right: 20px;    

    font-size: 18px;
    font-weight: bold;
}

.names {
    padding-top: 12px;
}

.names > h2 {
    color:(var(--black));

    font-size: 20px;
}

.names > h3 {
    color: var(--dark-grey);

    font-size: 15px;
    font-weight: 100;
}

.names > h3::before {
    content: '@';
}

.bio {
    color:(var(--black));
    
    margin-top: 12px;

    font-size: 15px;
}

.moreInfo {
    color: var(--dark-grey);

    margin-top: 10px;
}

.moreInfo > div {
    display: inline-block;
    margin-right: 40px;
}

.icon {
    display: inline-flex;
    justify-content: center;

    aspect-ratio: 1;
    height: 18px;
}

.icon > img {
    max-height: 100%;
    max-width: 100%;
    opacity: 0.6;
}

.text {
    display: inline-block;

    position: relative;
    bottom: 3px;

    margin-left: 5px;
}

.joined::before {
    content: 'Joined '
}

.follows {
    display: inline-flex;

    margin-top: 12px;
}

.follows > p {
    margin-right: 20px;

    font-weight: bold;

    cursor: pointer;
}

.follows > p:hover {
    text-decoration: underline;
}

.following::after {
    content: ' Following';

    color: var(--dark-grey);

    font-weight: 100;
}

.followers::after {
    content: ' Followers';

    color: var(--dark-grey);

    font-weight: 100;
}